body {
    background: grey;
    color: #fff;
    text-align: center;
}

.controls {
    display: inline-block;
    margin-bottom: 5em;
}

.controls button{
    background: black;
    color: white;
}

#break{
    display: inline;
    float: right;
    margin-left: 2em;
}

#session {
    display: inline;
    float: left;
    margin-right: 2em;
}

#clock {
    height: 22em;
    width: 22em;
    border-radius: 100%;
    border-width: .25em;
    border-style: solid;
    border-color:  lightgrey;
    background-color: black;
    margin: -45px auto;
    z-index: 1;
}

#clock p{
    text-align: center;
    font-size: 450%;
    margin: 40px auto;
}

#tomato-timer {
    clear: both;
}

#start-reset {
    margin: 5em 2em;
}

#start-reset button{
    background: black;
    font-weight: 500;
    color: #cc2900;
    height: 3em;
    width: 10em;
    margin: 0em .5em;

}
h5{
    font-weight: 200;
    font-size: 16px;
}

